@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;700&display=swap");

body {
  background-color: white;
  overflow-x: hidden;
  font-family: "Noto Sans HK", sans-serif;
  color: black;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
  -webkit-backface-visibility: hidden;
}

/*---- For header sizes of sections -----*/
* h2 {
  font-size: 32px;
  padding-top: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}

/*========== Navigation ==========*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-lnk {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #3ed7de;
}

/*-- Landing page --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  background-image: url(img/desktop_programming.png);
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  /*----- webkit for ios apps ex. safari... (or so I think) ------*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  /*background-color: black;*/
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
}
.btn-lg:hover {
  border-color: #3ed7de;
  background-color: rgba(0, 0, 0, 0.6);
  color: #3ed7de;
}

/*============= RESUME SECTION =============*/

.resume h1 {
  padding-top: 2rem;
  font-weight: 400;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}

/*----- Border on left and padding -------*/
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #3ed7de;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #30aeb4;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #3ed7de;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

/*----- Makes the circle on the side of resume ----*/
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  left: -9px;
  background: white;
  border: 2px solid #34b7a7;
}

.section-title {
  text-align: center;
  padding-bottom: 2rem;
}

/*======================== Projects ==============================*/
/*---- Cards ----*/

#projects h2 {
  padding-top: 0;
  padding-bottom: 3rem;
}

.project-card {
  background-color: #333;
  color: #aaa;
  height: 98.5%;
  width: 100%;
}

.project-card a {
  white-space: normal;
}

/*---------- Below is to make it so GIF's show on hover ------------*/

.zs-proj-img img {
  background:url("img/zenscrum_tasks.png");
}




/*================== CONTACT ME ==================*/

#contact {
  padding-bottom: 5rem;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*========EXTRA============*/
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
