@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;700&display=swap');

body {
      background-image: ivory;
      overflow-x: hidden;
      font-family: 'Noto Sans HK', sans-serif;
      color: #041043;
}

/*.big-body {
  background-image: url(img/blue-green.png);
}
*/

/*-- Nav --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0,0,0,0.6)!important;
}

.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-lnk {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover{
  color: #3ED7DE;
}

/*-- Landing page --*/
.home-inner {
  background-image: url(img/desktop_programming.png);
  opacity: 0.6;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  /*background-color: black;*/

}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
}
.btn-lg:hover {
  border-color: #3ED7DE;
  background-color: rgba(0,0,0,0.6);
  color: #3ED7DE;
}

/*============= RESUME SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #3ED7DE;
  background-color: #3ED7DE;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #3ED7DE;
  background-color: rgba(0,0,0,0.6);
  color: #3ED7DE;
}

/*============= SKILLS SECTION =============*/

#skills h1{
  text-transform: uppercase;
  font-size: 3.8rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: 700;
}

.primary-lang {
  padding-top: 2rem;
}

.heading-skills {
  text-align: center;
  z-index: 1;
  font-size: 3.0rem;
  font-weight: 400;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}

.cust-card h5{
  font-size: 1.5rem;
}


/*------- Languages -------*/

.language img{
  width: 25%;
}



/*----- Technologies -----*/

.web-dev img{
  width: 25%;
}

.technology img{
  width: 25%
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*========EXTRA============*/
.grow { 
  transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
transform: scale(1.1); 
}